/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Open Sans', sans-serif;
}

.flexcontainer{
    display: flex;
}

.jumbocontainer{
    width: 80%;
    margin: 0 auto;
}

li a{
    text-decoration: none;
    color: inherit;
}

.btn-small{
    padding: 5px 25px;
}

.btn-large{
    padding: 7px 25px;
    
}

.btn-blue{
    background-color: blue;
}

.btn-blue a{
    color: white;
}

.btn a{
    text-decoration: none;

}

/* HEADER */
nav{
    justify-content: space-between;
    padding: 0 10px;
    height: 80px;
    align-items: center;

}

header{
    background-color: orange;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
}

.logo{
    padding: 0 25px;
}

.right-menu,
.left-menu{
    align-items: center;
}

#inizia{
    margin-right : 20px;
}


nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 0 18px;
}

/* MAIN */

/* TOP MAIN JUMBOTRON */
.jumbotron{
    background-color: #b4d0e7;
    height: 600px;
}
.jumbotron h1{
    font-size: 85px;
}

.jumbotron-col{
    width: 30%;
}

.jumbotron-image{
    width: 70%;
}

.jumbotron-image img{
    width: 80%;
}