/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Open Sans', sans-serif;
}

.flexcontainer{
    display: flex;
}

.jumbocontainer{
    width: 80%;
    margin: 0 auto;
}

.section-container{
    width: 65%;
    margin: 0 auto;
}

li a{
    text-decoration: none;
    color: inherit;
}

.breaker{
    width: 70px;
    height: 1px;
    background-color: lightgray;
    margin: 30px 0;
}

/* BUTTONS */
.btn-small{
    padding: 5px 25px;
}

.btn-large{
    padding: 7px 25px;
}

.btn-try{
    padding: 7px 45px;
}

.btn-partner{
    padding: 7px 20px;
    border: 1px solid black;
    display: inline-block;
}

.btn-partner a{
    color: inherit;
}

.btn-large a{
    font-weight: 600;
}

.btn-blue{
    background-color: #0061ff;
    display: inline-block;
}

.btn-blue a{
    color: white;
}

.btn a{
    text-decoration: none;

}

/* HEADER */
nav{
    justify-content: space-between;
    padding: 0 10px;
    height: 80px;
    align-items: center;

}

header{
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
}

.logo{
    padding: 0 25px;
}

.right-menu,
.left-menu{
    align-items: center;
}

#inizia{
    margin-right : 20px;
}


nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 0 18px;
}

/* MAIN */

/* TOP MAIN JUMBOTRON */
.jumbotron{
    background-color: #b4d0e7;
    height: 700px;
    margin-bottom: 250px;
}
.jumbotron h1{
    font-size: 85px;
    padding-top: 50px;
}

.jumbotron-col{
    width: 25%;
    padding-right: 20px;
    font-size: 18px;
}

.jumbotron-text{
    margin-bottom: 15px;
}

.jumbotron-image{
    width: 75%;
    justify-content: center;
}

.jumbotron-image img{
    width: 85%;
}

.jumbotron-content{
    margin-top: 25px;
}

.jumbotron-col .btn-large{
    margin-top: 10px;
}

.jumbotron-col span{
    font-size: 14px;
}

.arrow-down{
    font-size: 40px;
    margin-top: 20px;
}

/* MAIN SECTIONS */
.offer h2{
    margin-bottom: 50px;
    font-size: 44px;
}
.round{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.round:hover{
    border: 5px solid #0061ff;
}

.fatturazione span{
    vertical-align: middle;
}

.scelta-fatturazione{
    margin-right: 20px;
    margin-bottom: 40px;
}

/* PIANI ABBONAMENTO */

.abbonamenti{
    justify-content: space-between;
}

.abbonamento-standard li{
    list-style: none;
    margin-bottom: 30px;
    font-size: 14px;
}

.abbonamento-standard{
    border: 1px solid lightgrey;
    width: calc(90% / 3);
}

.customer{
    border-bottom: 1px solid lightgrey;
    justify-content: center;
    padding: 10px 15px;
}

.info-abbonamento{
    padding: 30px 30px;
}

.info-abbonamento h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.price{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}

.durata{
    font-size: 14px;
    margin-bottom: 20px;
    color: gray;
}

.plan-title{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
}

.check{
    color: #0061ff;
}

.icon{
    margin-right: 5px;
}

.icon-small{
    margin-right: 5px;
}

.buy-now{
    font-size: 14px;
    margin: 20px 0;
}

.buy-now a{
    color: #0061ff;
    font-weight: 600;
}

/* TARIFFA ENTERPRISE */
.abbonamento-enterprise{
    margin-top: 35px;
    border: 1px solid lightgrey;
    width: 100%;
}

.info-enterprise{
    padding: 25px 20px;
}

.text-enterprise{
    width: 60%;
}

.text-enterprise h3{
    width: 60%;
    font-size: 25px;
    margin-bottom: 10px;
}

.text-enterprise div{
    font-weight: 600;
    margin-bottom: 10px;
}

.text-enterprise span{
    font-size: 14px;
}

.act-enterprise{
    width: 40%;
    text-align: center;
}

#enterprise{
    padding: 7px 60px ;
}

/* SEZIONE PARTNER */
.partner{
    margin-top: 120px;
}
.partner-img{
    width: 50%;
}

.partner-img img{
    width: 100%;
    padding: 10px 0;
}

.partner-text{
    width: 50%;
    padding: 40px 60px;
}

.partner-text h3{
    font-size: 26px;
    margin-bottom: 20px;
}

.partner-text p{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 30px;
}

/* SEZIONE BUSINESS EXPLAINATION */
.business{
    margin-top: 100px;
}

.business h2{
    font-size: 44px;
    margin-bottom: 50px;
}

.business-perks{
    flex-wrap: wrap;
}

.perks{
    width: calc(100% / 3);
    margin-bottom: 40px;
}

.perks-text{
    padding: 15px 25px;
}

.perks-text p a{
    color: inherit;
}

.perks-text h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.perks-img{
    padding: 0 25px;
}

.perks-img img{
    width: 80%;
}

/* SEZIONE TEAM */
.team{
    margin-top: 100px;
}

.title-team h2{
    font-size: 44px;
    margin-bottom: 30px;
}

.title-team a{
    color: #0061ff;
}

.team-banner{
    margin-top: 50px;
    background-color: #f5f5f5;
}
.team-piece{
    width: 20%;
    flex-wrap: wrap;
}

.team-img{
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
}

.team-img img{
    width: 60%;
    filter: invert(1);
}

/* TEAM BACKGROUNDS */
#designit{
    background-color: #a2d39b;
    border: 5px solid #d0e9cd;
}

#arizona-uni{
    background-color: #61082b;
}

#florida-uni{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}